{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="container" id='home-nav'>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom shadow-lg p-3   rounded">
        <li><a href="#" class="nav-link px-2 link-secondary"><span class='logo'>L-</span>Awwards</a></li>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-outline-dark">Sign-up</button>
      </div>
    </header>
  </div>


  <div class="container-fluid " id="h-page">
        <div class='row'>
            <div class='col'>
                <img src='/images/image2.jpg' alt='image' style='width:500px height:300px'>
            </div>
            <div class='col'>
                col2

            </div>
        </div>    

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="container-fluid " id="h-page">
    <div class='row'>
        <div class='col'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sodales ex, sit amet facilisis orci. Vivamus at tempor nisl. Nunc pharetra orci quis orci rhoncus ullamcorper. Integer et eleifend lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed et arcu leo. Suspendisse eget sollicitudin sem. Vestibulum gravida tellus a mi pretium pharetra. Fusce et consequat arcu. Pellentesque aliquet imperdiet lacus, eget rhoncus erat cursus ut. Maecenas metus felis, efficitur luctus blandit porttitor, euismod id ipsum. Sed risus augue, rhoncus eget est id, feugiat vehicula nunc. Proin molestie sem erat, a dictum massa mattis vitae. Nam eros erat, egestas a tempor vel, pretium ut justo. Cras sagittis tristique quam vitae dapibus. Quisque non ex faucibus, ultricies libero eu, tempus nisi.
        </div>
        <div class='col'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sodales ex, sit amet facilisis orci. Vivamus at tempor nisl. Nunc pharetra orci quis orci rhoncus ullamcorper. Integer et eleifend lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed et arcu leo. Suspendisse eget sollicitudin sem. Vestibulum gravida tellus a mi pretium pharetra. Fusce et consequat arcu. Pellentesque aliquet imperdiet lacus, eget rhoncus erat cursus ut. Maecenas metus felis, efficitur luctus blandit porttitor, euismod id ipsum. Sed risus augue, rhoncus eget est id, feugiat vehicula nunc. Proin molestie sem erat, a dictum massa mattis vitae. Nam eros erat, egestas a tempor vel, pretium ut justo. Cras sagittis tristique quam vitae dapibus. Quisque non ex faucibus, ultricies libero eu, tempus nisi.

        </div>
        <div class='col'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sodales ex, sit amet facilisis orci. Vivamus at tempor nisl. Nunc pharetra orci quis orci rhoncus ullamcorper. Integer et eleifend lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed et arcu leo. Suspendisse eget sollicitudin sem. Vestibulum gravida tellus a mi pretium pharetra. Fusce et consequat arcu. Pellentesque aliquet imperdiet lacus, eget rhoncus erat cursus ut. Maecenas metus felis, efficitur luctus blandit porttitor, euismod id ipsum. Sed risus augue, rhoncus eget est id, feugiat vehicula nunc. Proin molestie sem erat, a dictum massa mattis vitae. Nam eros erat, egestas a tempor vel, pretium ut justo. Cras sagittis tristique quam vitae dapibus. Quisque non ex faucibus, ultricies libero eu, tempus nisi.

        </div>
    </div>    

</div>

<br>




{%endblock content%}