{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="container" id='home-nav'>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
        <p><a href="#" class="nav-link px-2 link-secondary"><span class='logo'>L-</span>Awwards</a></p>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href={% url 'signin' %}><button type="button" class="btn btn-outline-dark me-2">Login</button></a>
        <a href={% url 'signup' %}><button type="button" class="btn btn-outline-dark me-2">Sign Up</button></a>
      </div>
    </header>
  </div>


  <div class="container-fluid " id="h-page">
        <div class='row'>
            <div class='col'>
                <img src={% static 'images/image2.jpg'%} alt='image' style='width:500px height:300px'>
            </div>
            <div class='col'>
                <br>
                <br>
                <br>
                <h1><span class='logo'>L-</span>Awwards</h1>
                <p>A project is complete when <br>it starts working for you <br>rather <br>than you working for it</p>
                <small>~To view and add projects sign in!</small><br>
                <a href={% url 'signin' %}><button type="button" class="btn btn-outline-dark mt-5"style='width: 200px;'>Check it out!</button></a>

            </div>
        </div>    

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="container " id="h-page">
    <h2>About Us</h2>
    <div class='row'>
        <div class='col'>
            <div class="card text-dark" style="max-width: 18rem; background:rgb(238, 209, 232); " id="about-cards">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Warning card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class='col'>
            <div class="card   mb-3" style="max-width: 18rem; background: rgb(31, 3, 25);">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Warning card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

        </div>
        <div class='col'>
            <div class="card text-dark  mb-3" style="max-width: 18rem; background:rgb(238, 209, 232);" >
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Warning card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>    

</div>

<br>




{%endblock content%}