{%extends 'base.html'%}
{% load static %}

{%block content%}


{% include 'navbar.html'%}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			
			<div class="col">
				<div>
					<img class="rounded-circle" src="{{user_profile.profileimg.url}}" style="height: 200px; " alt="">
				</div>
				<div>
				 <h3>@{{user_profile.user.username}}</h3>
				
				 <br>
				
			   
				  {{user_profile.bio}}
                  <br>
                  First Name: {{user_profile.user.first_name}}
                  <br>
                  Last  Name: {{user_profile.user.last_name}}
			    </div>
			</div>
		</div>
		{% if user_post_length == 0 %}
		<p style=" font-size: 27px;"><b>No Project yet</b></p>
		{% elif user_post_length == 1 %}
		<span style=" font-size: 27px;"><b> {{user_post_length}} Project  </b>
		{% else %}
		<span style=" font-size: 27px;"><b>{{user_post_length}}</b> Projects</span>
		{% endif %}

		
		
	</div>
		

				

</div>
<hr>

<div class="container mb-3">
	{% for project in user_projects %}
	<!-- Button trigger modal -->
	<a class="strip" href="" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
		<img src="{{project.project_image.url}}" style="height: 250px; width: 300px;" alt=""></a>
   {% endfor %}
</div>

{%endblock content%}