{%extends 'base.html'%}
{% load static %}
{%block content%}



<body>
   
    {%include 'navbar.html'%}
    {% comment %} <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" syle='height:100px,width:100px'>
                    
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            
        <div class="carousel-item active">
            <img src={%static 'images/project2.jpg'%} class="d-block w-100 " alt="..."syle='height:100px'>
            
            <img src={%static 'images/project3.jpeg'%} class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-item">
            <img src={%static 'images/project3.jpeg'%} class="d-block w-100" alt="...">
            
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
     {% endcomment %}
     <div class="col">
        <div class="jumbotron bg-dark"style="background">
            <h6 class="display-4 text-dark">Site of the day</h6>
            <p class="lead ">
                <p style='text-align:center;font-size:40px'> <span class='logo'>L-</span>Awards.. </p>
            </p>
            <div class='container'>
                <div class="row">
                    
                    <div class="col text-white">DESIGN</div>
                    <div class="col text-white">USABILITY</div>
                    <div class="col text-white" >CONTENT</div>
                </div>
            </div>
            <div class='container'>

                <div class="row">
                    <div class="col"><svg width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <linearGradient id="test">
                        <stop offset="0%" stop-color="#f00"/>
                        <stop offset="100%" stop-color="#0ff"/>
                        </linearGradient>    
                        </defs>    
                        <circle cx="50" cy="50" r="40" fill="none" stroke="url(#test)" stroke-width="6"/>   
                        <text  font-size="18" font-family="Verdana" fill="white"
                        x="30" y="50">9.0</text> 
                    </svg></div>
                    <div class="col"><svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" stroke="orangered" stroke-width="3" fill="rgba(0, 0, 0, 0.5)" />
                        Sorry, your browser does not support inline SVG. <text fill="white" font-size="18" font-family="Verdana"
                        x="30%" y="50%">9.5</text> 
                      </svg> </div>
                    <div class="col"><svg width="300" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                        <linearGradient id="test">
                        <stop offset="0%" stop-color="#f00"/>
                        <stop offset="100%" stop-color="#0ff"/>
                        </linearGradient>    
                        </defs>    
                        <circle cx="50" cy="50" r="40" fill="none" stroke="url(#test)" stroke-width="6"/>   
                        <text fill="white" font-size="18" font-family="Verdana"
                        x="30" y="50">9.5 </text> 
                    </svg></div>
                    
                </div>

            </div>
                

            
            
            
        </div>
     </div>
     
    
 {% for image in images reversed %}
    


<div>
    <br>
   <h6 class='hech6'> Here are Today's specials<h6>
    <br>
<!--Another section for cards-->
    
    <!--card-->
    
        <div class="container p-3">
            <div class="row">
                <div class=" col-md-4">
                    <div class="card">
                    <div class="card-img" style="background-image:url({{image.project_image.url}});"></div>    
                    <div class="card-img-overlay d-flex flex-column justify-content-between">
                        <h4 class="card-title"><a href={% url 'viewpost' image.id%}><br><button type="button" class="btn btn-rounded btn-outline-dark">View project</button></a></h4>
                        
                    </div>
                    </div>
                    <div class="card-bodie">
                        creator :{{image.user}}
                        <p>{{image.caption}}</p>
                        <div>
                        
                        <p>{{image.created_at}}</p>
                        </div>
                        
                        
                      </div>
                </div>


                {% comment %} <div class=" col-md-4">
                    <div class="card ">
                    <div class="card-img" style="background-image:url({{image.project_image.url}});"></div>    
                    <div class="card-img-overlay d-flex flex-column justify-content-between">
                        <h4 class="card-title"><a href={% url 'viewpost' image.id%}><button type="button" class="btn btn-outline-dark">View</button></a>@{{image.user}}</h4>
                        
                    </div>
                   
                    <div class="card-bodie">
                        <p>{{image.caption}}</p>
                        <div>
                        <span class="badge rounded-pill  bg-info">Info</span> 
                        <p>{{image.created_at}}</p>
                        </div>
                        
                        
                        
                      
                    </div>
                </div> {% endcomment %}
            </div>
            
            
        </div>
    </div> 
      
  

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    {% endfor %}

    {%endblock content%}