{% extends 'base.html' %}
{% load static %}


{% block content %}
      <!--   Icon Section   -->

<div class="row">
    <div class="col-md-6">
        <img src="{{ project.project_image.url }}" style=''>
    </div>
</div>
<br>
<div class='container shadow'>
    <div class="col-md-6">
    
        <span class="card-title">Created by:{{ project.user }}</span>
        <br>
        <span>Created On: {{ project.created_at }}</span>
        <br>
        
        <br>
        
        <br>
        
        <form method="post" action="" role="form" class="col s12">
        {% csrf_token %}
        <div class="input-field col s12">
            {{ form }}
        </div>
        
        
    
    
        
        <button type="submit" name="action" class="btn btn-outline-dark" style=" margin-bottom:5px; padding:10px;margin-top:5px;">Rate</button>
    </form>
    </div>
</div>
    


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}