{%extends 'base.html'%}
{% load static %}




{%block content%}

<div class="container">
    <div class="row">
      <div class="col-sm">
            <h6>Upload your Project<h6>
            <div class='container shadow'>
                <form action="upload" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <p class="my-3 leading-6"> 
                    <br>
                    <i class="fas fa-file-upload fa-10x"></i>
                </p>
                
                    <textarea class="form-control" name="project_tittle" placeholder="Title" ></textarea>
                    <br>
                    <input type="file" name="image_upload" class='btn btn-outline-primaary'>
                    <!-- <a href="#" class="button soft-warning small"> Choose file</a> --><br>
                    <br>
                    <textarea class="form-control" name="caption" placeholder="caption..." ></textarea>
                    <br>
                    
                    <input type="url" name="project_url" placeholder="Please enter your projects live site">
                    <br>
                    <br>
                    <input type="url" name="project_repo" placeholder="Enter project repo">
                    <br>
                    <button class="btn" type="submit" >Upload</button>
                    <button class="btn"> <a href="/">Cancel</a> </button>
                
                </form>
            </div>
        </div>


      
      <div class="col-sm">
        <img src={%static 'images/upload.webp'%} style="height:90%; width:90%;">
      </div>
      
    </div>
  


</div>
<br>
<br>
<br>
<br>
<br>

    {%endblock content%}


