{%extends 'base.html'%}


{% block content %}
{% include 'navbar.html'%}
<!-- content -->
<br><br><br>
<div class="container">
  <div class="single_post-container row">
    <div class="col-md-6 image-container">
      <img src="{{project.project_image.url}}" alt class="card-img-top"/>
      
    </div>
    <div class="col-md-6 comments-container">
      <div class="user">
        <div class="image">
          <img src="{{project.user_profile.profileimg.url}}" alt="" />
        </div>
        <div class="user_name ml-1 mb-2">{{project.user}}</div>
      </div>
      <hr />
      <div class="post">
        
        <p class="post_caption">{{project.caption}}</p>
        <a href={{ project.Project_url }}>{{ project.project_url }}</a>
        <a href="{% url 'rate-project' project.id %}" class="waves-effect waves-light btn"><button class="btn btn-outline-dark">Review</button></a>
        <div class='circle'>
          <b>{{ reviews_avg.design__avg }}</b> by <b>{{ reviews_count }}</b> people

        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h6 style="text-align:center">Total Average Scores<h6>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class=" circular">
        <div class="inner"></div>
        <div class="number">Design{{ reviews_avg.design__avg }}</div>
          
        <div class="circle">
           <div class="bar left">
              <div class="progress"></div>
           </div>
           <div class="bar right">
              <div class="progress"></div>
           </div>
         </div>
      </div>
    </div>
    <div class="col-sm">
      <div class=" circular">
        <div class="inner"></div>
        <div class="number">Usability<br>{{ ureviews_avg.usability__avg }}</div>
          
        <div class="circle">
           <div class="bar left">
              <div class="progress"></div>
           </div>
           <div class="bar right">
              <div class="progress"></div>
           </div>
         </div>
      </div>
    </div>
    <div class="col-sm">
      <div class=" circular">
        <div class="inner"></div>
        <div class="number">Content{{ creviews_avg.content__avg }}</div>
          
        <div class="circle">
           <div class="bar left">
              <div class="progress"></div>
           </div>
           <div class="bar right">
              <div class="progress"></div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>





    

      
        
        
        
  


<div class="container">
  <h4 style="text-align:center;">Reviews</h4>
  <div class="row">
    <div class="col">User</div>
    <div class="col">Design</div>
    <div class="col">Usabitity</div>
    <div class="col">Content</div>
  </div>
  <hr>

  {% for review in reviews %}
    <p class="collection-item avatar">

    {% if review.user.profile.picture %}
      <img src="{{ review.user.profile.profileimg.url }}" alt="" class="circle">
    {% else %}
      <img src="" alt="" >
    {% endif %}
    

    <div class="row">
      <div class="col"><b>{{review.user.username}}{{ review.user.first_name }} {{ review.user.last_name }}</b></div>
      <div class="col">{{ review.design }} / 10</div>
      <div class="col">{{ review.usability }} / 10</div>
      <div class="col">{{ review.content }} / 10</div>
    </div>

  {% endfor %}

</div>              



<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

      
{% endblock%}