@import url('https://fonts.googleapis.com/css?family=Oswald');

.btn-outline {
    color: #fafdfd;
   
    border-color: orangered;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .btn-outline {
    color: #f3f7f6;
    
    border-color: orangered;
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: orangered;
    color: #ffffff;
    
    
  }

  .link-dark{
    color:rgb(255, 251, 249)
  }

  .btn-outline-dark {
    color: #f3f7f6;
    background: orangered;
    border-color: orangered;
    font-weight: bold;
    border-radius: 0;
  }









.oswald{
    font-family: 'Josefin Sans', sans-serif;
}

h4{
    font-size:2em;
}
#p{
    font-size:1.3em;
    line-height:1.1em;
}
.card {
  width: 100%; 
  height: 300px;
  
}

.card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
.card:hover .card-img,
.card:focus .card-img {
  transform: scale(1.02);
  opacity:0.5;
}

.card:hover .card-img-overlay{
    color:#730d0d;
}

.card-img-overlay>h4, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h4, .card-img-overlay:hover p{
    visibility: visible;
}

.card:hover .card-img-overlay p{
    font-size:1.5em;
    letter-spacing:0.02em;
}


/*footer starts here*/

/* Sticky footer position and size
-------------------------------------------------- */
body{
    
/* background: linear-gradient(to right, #636FA4, #E8CBC0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
background: linear-gradient(to right, #cbb4d4, #20002c, #20002c); 
font-family: 'Nanum Myeongjo', serif;
    
}




.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: 1300px;
}

.carousel-item {
  text-align: center;
}

.carousel {
    height: 300px;
  }
  
.fas{color:#e9ddee}

.break{
    background:#20002c;
    text-align: center;
    color:#ffffff
    
    
    
}
.card-bodie{
    background-color: #fff;
    color:black
}


.logo{
    font-family: 'Great Vibes', cursive;
    color:orangered
}



#h-page{
    background:white;
    text-align: center;
    
    
    
}
#home-nav{
    
    /* background: linear-gradient(to right, #636FA4, #E8CBC0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        
    background: linear-gradient(to right, #cbb4d4, #20002c, #20002c); 
    font-family: 'Nanum Myeongjo', serif;
        
    }

#home-body{
    background:white;
}

.settings{
    background:linear-gradient(to right, #cbb4d4, #2c1400, #20002c); 
    padding:30px;
}

#about-cards{
    background:#20002c;
    
}
#about-card2{
    background:orangered;
    
}

.card-body{
    color:rgb(253, 250, 249);

}

.hech6{
    background:#20002c;
}

/* .circle{
    position:relative;
    width:150px;
    height:150px;
    background:linear-gradient(#33ccff,#ff0066);
    border-radius:50%;
    
} */

.circular{
    height:100px;
    width: 100px;
    position: relative;  
    border:solid white 1px;
  }

  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: rgb(250, 244, 244);
    border-radius: 100%;
  }

  .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4158d0;
  }

  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #4158d0;
  }

  .circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }